[package]
name = "anvil"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["lib", "staticlib"]

[dependencies]
levenshtein = "1.0.5"
once_cell = "1.21.3"
tokio = { version = "1.45.1", features = ["full"] }
