# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "**" ]

jobs:
  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run tests on iOS simulator
      run: |
        xcodebuild test \
          -scheme SkyIsTheLimit \
          -destination 'platform=iOS Simulator,name=iPhone 17,OS=26.0'
